@{
    ViewBag.Title = "DashBoard";
}
@using Microsoft.AspNet.Identity
@using YakaTicket.Database
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm())
    {
<fieldset>
    <legend>Dashboard d'association</legend>
    <div></div>
    <div>
        <p>Nom : @ViewBag.assoc.Name </p>
    </div>
    <div>
        <p>Infos : @ViewBag.assoc.Summary </p>
    </div>
    <div>
        <p>Président : @ViewBag.assoc.President</p>
    </div>
    <div>
        <p>Ecole : @ViewBag.assoc.School</p>
    </div>
    @if (Request.IsAuthenticated && Database.database.RequestBoolean("f_is_desk", User.Identity.GetUserName(), ViewBag.assoc.Name))
    {
        <div>
            @Html.ActionLink("Ajouter un membre", "AddMember", "Assoc", new { name = @ViewBag.assoc.Name }, null)
        </div>
    }
    @if (Request.IsAuthenticated && Database.database.RequestBoolean("f_is_desk", User.Identity.GetUserName(), ViewBag.assoc.Name))
    {
        <div>
            @Html.ActionLink("Supprimer un membre", "DeleteMember", "Assoc", new { name = @ViewBag.assoc.Name }, null)
        </div>
    }
</fieldset>
    }
}
else
{
    <h3> Il faut être connecté pour faire ça. </h3>
}