
@{
    ViewBag.Title = "ModeratorDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dashboard de modération</h2>
<h4>Liste des événements en attente d'aprobation</h4>
<table class="table table-bordered table-hover">
    <tr>
        <th>Nom</th>
        <th>Association</th>
        <th>Date Début</th>
        <th>Date de fin</th>
    </tr>
    @foreach (YakaTicket.Models.Event e in ViewBag.list)
    {
        <tr>
            <td>@e.Name</td>
            <td>@e.Assoc</td>
            <td>@e.Begin</td>
            <td>@e.End</td>
            <td>@Html.ActionLink("détails", "ViewEvent", "Events", new { name = e.Name }, null)</td>
        </tr>
    }
</table>
<h4>Liste des événements non approuvé par les présidents</h4>
<table class="table table-bordered table-hover">
    <tr>
        <th>Nom</th>
        <th>Association</th>
        <th>Date Début</th>
        <th>Date de fin</th>
    </tr>
    @foreach (YakaTicket.Models.Event e in ViewBag.other)
    {
        <tr>
            <td>@e.Name</td>
            <td>@e.Assoc</td>
            <td>@e.Begin</td>
            <td>@e.End</td>
            <td>@Html.ActionLink("détails", "ViewEvent", "Events", new { name = e.Name }, null)</td>
        </tr>
    }
</table>

<h4>Autres</h4>
<button type="button" class="btn btn-default">
    @Html.ActionLink("Liste des Externes", "ExternList")
</button>