@model YakaTicket.Models.Event

@{
    ViewBag.Title = "Création d'événement";
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        <h3>* <i>Champs obligatoires</i></h3>
        <fieldset>
            <legend>Créer un évènement</legend>
            <div class="row">
                <div class="column">

                    <div>
                        Créateur <i>:</i>
                        @Html.LabelFor(model => model.Owner, User.Identity.GetUserName(),new { @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div>
                        Association <i>*</i>
                        @Html.DropDownListFor(model => model.Assoc, new SelectList(ViewBag.list))
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div>
                        Nom <i>*</i>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div>
                        Description <i>*</i>
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                    <div>
                        Début de l'évènement <i>*</i> : <i>jj/mm/aaaa hh:mm:ss</i>
                        @Html.TextBoxFor(model => model.Begin, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Begin)
                    </div>
                    <div>
                        Fin de l'évènement <i>*</i> : <i>jj/mm/aaaa hh:mm:ss</i>
                        @Html.TextBoxFor(model => model.End, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.End)
                    </div>
                </div>
            </div>
            <input type="submit" value="Créer l'évènement" class="form-control btn-primary" />
        </fieldset>
    }
}
else
{
    <h3> Il faut être connecté pour faire ça. </h3>
}