@model YakaTicket.Models.Event
@{
    ViewBag.Title = "Création d'événement";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        <h3>* <i>Champs obligatoires</i></h3>
        <fieldset>
            <legend>Créer un évènement</legend>
            <div class="row">
                <div class="column">
                    <div>
                        Créateur <i>:</i>
                        @{
                            var name = HttpContext.Current.User.Identity.Name;
                        }
                        @Html.LabelFor(model => model.Owner, name, new { @readonly = "true" })
                        <input name="Owner" type="text" value=@name style="visibility:hidden" />
                    </div>
                    Association <i>*</i>
                    <div style="float: right">
                        @Html.DropDownListFor(model => model.Assoc, new SelectList(ViewBag.list))
                        @Html.ValidationMessageFor(model => model.Assoc)
                    </div>
                    <div class="separator"></div>
                    Nom <i>*</i>
                    <div style="float: right">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="separator"></div>
                    Début de l'évènement <i>*</i> : <i>jj/mm/aaaa hh:mm:ss</i>
                    <div style="float: right">
                        @Html.TextBoxFor(model => model.Begin, new { @class = "form-control form_datetime" })
                        @Html.ValidationMessageFor(model => model.Begin)
                    </div>
                    <div class="separator"></div>
                    Fin de l'évènement <i>*</i> : <i>jj/mm/aaaa hh:mm:ss</i>
                    <div style="float: right">
                        @Html.TextBoxFor(model => model.End, new { @class = "form-control form_datetime" })
                        @Html.ValidationMessageFor(model => model.End)
                    </div>
                    <div class="separator"></div>
                    Sommaire <i>*</i>
                    <div style="float: right">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @maxlength = 8192 })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                    <div class="separator"></div>
                    Description <i>*</i>
                    <div>
                        <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
                        <script type="text/javascript">
                            //<![CDATA[
                            bkLib.onDomLoaded(function () { new nicEditor().panelInstance('mytextarea') });
                            //]]>
                        </script>
                        <textarea id="mytextarea" name="full_desc">Description</textarea>
                    </div>
                </div>
            </div>
            <input type="submit" value="Créer l'évènement" class="form-control btn-primary" />
        </fieldset>
    }
}
else
{
    <h3> Il faut être connecté pour faire ça. </h3>
}
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.12.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "dd/mm/yyyy hh:ii"
    });
</script>   