@model YakaTicket.Models.Event

@{
    ViewBag.Title = "CreateEvent";
}

<h3>* <i>Champs obligatoires</i></h3>
@using (Html.BeginForm())
{
<fieldset>
    <legend>Créer un évènement</legend>
    <div>
        Nom <i>*</i>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div>
        Description <i>*</i>
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div>
        Début de l'évènement <i>*</i> : <i>jj/mm/aaaa hh:mm:ss</i>
        @Html.TextBoxFor(model => model.Begin, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Begin)
    </div>
    <div>
        Fin de l'évènement <i>*</i> : <i>jj/mm/aaaa hh:mm:ss</i>
        @Html.TextBoxFor(model => model.End, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.End)
    </div>
    <div>
        Lieu <i>*</i>
        @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Location)
    </div>
    <div>
        Fermeture des inscriptions <i>*</i> : <i>jj/mm/aaaa hh:mm:ss</i>
        @Html.TextBoxFor(model => model.Close, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Close)
    </div>
    <div>
        Nombre de places pour les externes au groupe IONIS <i>*</i>
        @Html.TextBoxFor(model => model.ExternPlaces)
        @Html.ValidationMessageFor(model => model.ExternPlaces)
    </div>
    <div>
        Nombre de places pour les internes au groupe IONIS <i>*</i>
        @Html.TextBoxFor(model => model.InternPlaces)
        @Html.ValidationMessageFor(model => model.InternPlaces)
    </div>
    <div>
        Prix places pour les externes au groupe IONIS <i>*</i>
        @Html.TextBoxFor(model => model.InternPrice)
        @Html.ValidationMessageFor(model => model.InternPrice)
    </div>
    <div>
        Prix places pour les internes au groupe IONIS <i>*</i>
        @Html.TextBoxFor(model => model.InternPrice)
        @Html.ValidationMessageFor(model => model.InternPrice)
    </div>
    <div>
        Afficher le nombre de places restantes <i>*</i>
        @Html.RadioButtonFor(model => Model.LeftPlaces, true) Oui
        @Html.RadioButtonFor(model => Model.LeftPlaces, false) Non
        @Html.ValidationMessageFor(model => model.LeftPlaces)
    </div>
    <input type="submit" value="Créer l'évènement" class="form-control" />
</fieldset>
}