
@{
    ViewBag.Title = "ListEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int n = 0;
}
<h2>ListEvent</h2>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <form asp-controller="Events" asp-action="ListEvent">
        <p>
            Evènement: <input class="form-control" type="text" name="name" placeholder="Rechercher">
            <input class="form-control btn-primary" type="submit" value="Filtrer" />
        </p>
    </form>

        <table class="table table-bordered table-hover">
            <tr>
                <th>Nom</th>
                <th>Association</th>
                <th>Date Début</th>
                <th>Date de fin</th>
            </tr>
            @foreach (YakaTicket.Models.Event e in ViewBag.list)
            {
            <tr>
                <td>@e.Name</td>
                <td>@e.Assoc</td>
                <td>@e.Begin</td>
                <td>@e.End</td>
                <td>@Html.ActionLink("détails", "ViewEvent", "Events", new { name = e.Name }, null)</td>
            </tr>
            }

        </table>
}
else
{
    <h3> Il faut être connecté pour faire ça.</h3>
}