@model YakaTicket.Models.Event
@{
    ViewBag.Title = "ViewEvent";
}

<fieldset>
    <legend>Résumé de l'évènement</legend>
    @using Microsoft.AspNet.Identity
    @using YakaTicket.Database
    <div></div>
    <div>
        <p>Nom : @Html.DisplayFor(model => model.Name) </p>
    </div>
    <div>
        <p>Association : @Html.DisplayFor(model => model.Assoc) </p>
    </div>
    <div>
        <p>Description : @Html.DisplayFor(model => model.Description)</p>
    </div>
    <div>
        <p>Début de l'évènement : @Html.DisplayFor(model => model.Begin)</p>
    </div>
    <div>
        <p>Fin de l'évènement : @Html.DisplayFor(model => model.End)</p>
    </div>
    <div>
        @Html.Raw(ViewBag.data)
    </div>
    <div>
        <button type="button" class="btn btn-default">
            @Html.ActionLink("Inscription", "Payment", new { name = Html.ValueFor(model => model.Name) })
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-default">
            @Html.ActionLink("télécharger au format .ics", "DownloadEvent", new {name = Html.ValueFor(model => model.Name)})
        </button>
    </div>
    @if (Request.IsAuthenticated && Check.CanEditEvent(User.Identity.GetUserName(), Model.Name))
    {
        <div>
            <button type="button" class="btn btn-default">
                @Html.ActionLink("Ajouter un prix", "AddPrice", new { name = Html.ValueFor(model => model.Name) })
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-default">
                @Html.ActionLink("Edit", "ModifyEvent", "Events", new { name = @Html.ValueFor(model => model.Name) }, null)
            </button>
        </div>
    }

    @if (Request.IsAuthenticated && Database.database.RequestBoolean("f_can_approve", User.Identity.GetUserName(), ViewBag.name))
    {
        using (Html.BeginForm())
        {
            <input name="Owner" type="text" value=@ViewBag.name style="visibility:hidden" />
            <input type="submit" value="Approuver" class="form-control btn-primary" />
        }
    }
</fieldset>
